@import "variables";
@import "mixins";
@import "more";

body{
  font-family: 'Open Sans', sans-serif;
}

.top{
  background-color: #2da5a4;
  .rate-hotel{
    color: #fff;
    margin-bottom: 0;
    img{
      margin-top: -2px;
      margin-right: 5px;
    }
  }

  .com-top-right{
    form{
      input[type="text"]{
        height: 22px;
        border: none;
        border-left: 1px solid #62bcbb;
        background-color: transparent;
        color: #fff;
        padding: 1px 5px;
        &:focus{
          outline: none;
        }
      }
      input[type="submit"]{
        border: none;
        background-color: transparent;
        width: 13px;
        height: 13px;
        background: url("@{path-images}/search-top-ic.png") no-repeat center center;
        display: inline-block;

      }
    }
    li{
      position: relative;
      &:nth-child(2)::after{
        content: '';
        width: 1px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        right: 0px;
        top: 1px;
      }
      a{
        padding: 0 10px;
        color: #ffffff;
        font-weight: 600;
        &:hover,&:focus{
          background-color: transparent;
        }
      }
    }
  }
}

.top-navbar{
  min-height: 60px;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  .navbar-header{
    a{
      padding: 0;
      margin-left: 0;
    }
  }
  .navigation-r{
    padding: 0;
    .nav{
      li{
        a{
          text-transform: uppercase;
          color: #666;
          &:hover,&:focus{
            background-color: transparent !important;
          }
        }
        &:last-child{
          a{
            padding-right: 0;
          }
        }
      }
    }
  }
}

.wrap-introduce{
  margin-bottom: 40px;
}

.introduce{
  margin-top: 40px;
  margin-bottom: 30px;
  p{
    width: 72%;
    margin: 0 auto;
    text-align: center;
  }
}

.box-title{
  text-align: center;
  font-weight: 700;
  h1{
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
  }
  .line-shape{
    margin: 0 auto 20px;
  }
}

.service{
  position: relative;
  background: url("@{path-images}/bg-section-home.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px 0 70px;
  margin-bottom: 30px;
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
  .wrap-inner-service{
    position: relative;
    z-index: 1;
  }
  .box-title{
    h1{
      color: #ffffff;
    }
  }
}

.tab-service{
  background-color: rgba(255,255,255,.8);
  li{
    a{
      color: #333;
      font-weight: 700;
      text-align: center;
      .tab-img{
        display: block;
        width: 54px;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        background-position: center;
        &.t-1{
          background-image: url("@{path-images}/ser/ser-1.png");
        }
        &.t-2{
          background-image: url("@{path-images}/ser/ser-2.png");
        }
        &.t-3{
          background-image: url("@{path-images}/ser/ser-3.png");
        }
        &.t-4{
          background-image: url("@{path-images}/ser/ser-4.png");
        }
        &.t-5{
          background-image: url("@{path-images}/ser/ser-5.png");
        }
        &.t-6{
          background-image: url("@{path-images}/ser/ser-6.png");
        }
        &.t-7{
          background-image: url("@{path-images}/ser/ser-7.png");
        }
      }
    }
  }
  &>.active{
    &>a{
      color: #2da5a3 !important;
      .tab-img{
        &.t-1{
          background-image: url("@{path-images}/ser/ser-1-ac.png");
        }
        &.t-2{
          background-image: url("@{path-images}/ser/ser-2-ac.png");
        }
        &.t-3{
          background-image: url("@{path-images}/ser/ser-3-ac.png");
        }
        &.t-4{
          background-image: url("@{path-images}/ser/ser-4-ac.png");
        }
        &.t-5{
          background-image: url("@{path-images}/ser/ser-5-ac.png");
        }
        &.t-6{
          background-image: url("@{path-images}/ser/ser-6-ac.png");
        }
        &.t-7{
          background-image: url("@{path-images}/ser/ser-7-ac.png");
        }
      }
    }
  }
}

.gal-item{
  overflow: hidden;
  border: 1px solid #ffffff;
  width: 370px;
}

.tab-service{
  a{
    text-align: center;
    img{
      display: block;
      margin: 0 auto 10px;
    }
  }
}

.new-event{
  margin-bottom: 40px;
}

.content-ser-pad{
  padding: 40px;
  background-color: #fff;
  .info{
    h2{
      font-size: 16px;
      color: #333;
      font-weight: 700;
      margin-top: 0;
    }
    h4{
      color: #2da5a3;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      margin: 20px 0;
    }
    .btn-more{
      background-color: #2da5a4;
      color: #fff;
      border-color: #2da5a4;
    }
  }
}

.new-item{
  .inner-new-item{
    .info{
      h4{
        a{
          color: #000;
          font-size: 18px;
        }
      }
    }
  }
}

#footer{
  background-color: #eaeaea;
  padding: 30px 0 40px;

  .title-footer{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .footer-form-mail{
    .form-group{
      .form-control{
        width: 400px;
        height: 40px;
        border: none !important;
      }
    }
    .btn-sendmail{
      height: 40px;
      background-color: #7a7a7a;
      color: #ffffff;
      border: none;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .social-block{
    display: inline-block;
    li{
      margin-right: 10px;
      &:last-of-type{
        margin-right: 0;
      }
      a{
        width: 44px;
        height: 44px;
        line-height: 51px;
        text-align: center;
        background-color: #7a7a7a;
        padding: 0;
        .border-radius(100%);
        .transition(all .3s);

        &:hover{
          background-color: #dd4b39;
        }

        i.fa{
          font-size: 26px;
          color: #ffffff;
        }
      }
    }
  }
  
  .line-dot{
    width: 100%;
    height: 1px;
    border-top: 1px dotted #ccc;
    margin: 30px 0;
  }

  .nav-footer{
    li{
      position: relative;
      a{
        font-size: 12px;
        color: #333333;
        text-transform: uppercase;
        &:hover,&:focus{
          background-color: transparent;
        }
      }
      &::after{
        content: '';
        width: 1px;
        height: 12px;
        background-color: #333333;
        position: absolute;
        right: 0;
        top: 50%;
        .translate(0, -50%);
      }
      &:first-of-type{
        a{
          padding-left: 0;
        }
      }
      &:last-of-type{
        &::after{
          display: none;
        }
      }
    }
  }

  .footer-address{
    font-size: 13px;
  }
}

.book-hotel{
  position: relative;
  margin-top: -41px;
  z-index: 4;
  .wrap-bookHotel{
    border: 3px solid rgba(255, 255, 255, .6);
    display: inline-block;
    .btn-bookHotel{
      height: 38px;
      line-height: 38px;
      padding: 0 50px;
      background-color: #ff320a;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      display: inline-block;
      text-decoration: none;
    }
  }
}

.block-breadcrumb{
  padding: 30px 0;
}

.food-item{
  margin-bottom: 30px;
  .info{
    h1{
      margin-top: -16px;
      a{
        color: #000;
        font-size: 18px;
      }
    }
  }
}

.sub-bookHotel{
  background-color: #f4f4f4;
  padding: 20px 0 35px;
  .address-hotel{
    text-align: center;
    margin-bottom: 30px;
    h1{
      margin-top: 0;
      color: #252525;
      font-family: "Times New Roman";
      font-size: 40px;
      margin-bottom: 20px;
    }
  }
  .form-subBookHotel{
    .btn-suBookRoom{
      background-color: #2da5a4;
      color: #ffffff;
      text-transform: uppercase;
      border-color: #2da5a4;
      font-size: 12px;
      height: 34px;
    }
  }
}

.room-item{
  margin-bottom: 30px;
  .img{
    height: 237px;
    overflow: hidden;
  }
  .info{
    h1{
      margin-top: 0;
      a{
        color: #000;
        font-size: 18px;
      }
    }
    ul{
      margin-bottom: 0;
      padding-left: 18px;
    }
  }
}

.input-icon{
  position: relative;
  input[type="text"]{
    padding-left: 80px;
    padding-right: 30px;
    &.non-pl{
      padding-left: 12px;
    }
  }
  &.icon-right{
    span{
      position: absolute;
      left: 10px;
      top: 50%;
      .translate(0, -50%);
    }
    .fa{
      position: absolute;
      right: 10px;
      top: 50%;
      .translate(0, -50%);
      color: #2da5a4;
    }
  }
}

@media (min-width: 1200px) {
  .new-container {
    width: 970px;
  }
}

.event-item{
  margin-bottom: 30px;
  &.isRight{
    background-color: #f4f4f4;
  }
  .info{
    h1{
      margin-top: 0;
      a{
        color: #000;
        font-size: 24px;
        text-decoration: none;
      }
    }
    .line-event{
      width: 50px;
      height: 1px;
      border-top: 1px solid #333333;
      margin-bottom: 10px;
    }
    .post-time{
      color: #878787;
    }
  }
}

.common-pagination{
  &>li>a,&>li>span{
    padding: 12px 17px;
  }
}

.sub-slide{
  height: 260px;
  background-image: url("@{path-images}/slides/slide-3.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.workshop-item{
  background-color: #f4f4f4;
  .info{
    padding: 0 40px;
    h1{
      color: #333;
      font-size: 18px;
      font-weight: bold;
    }
    ul{
      padding-left: 18px;
    }
    .btn-detail{
      background-color: #2da5a4;
      color: #ffffff;
      border-color: #2da5a4;
      text-transform: uppercase;
    }
  }
}

.box-contact{
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 30px;
  h4{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    margin-top: 0;
  }
}

.box-bookRoom{
  background-color: #42aead;
  padding: 20px;
  .text-center{
    color: #ffffff;
    margin-bottom: 20px;
    h4{
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 0;
    }
    .line{
      width: 50px;
      height: 1px;
      background-color: #fff;
      display: inline-block;
      margin-bottom: 10px;
    }
    p{
      font-style: italic;
    }
  }

  .form-book{
    .non-padding-col{
      .non-padding-right{
        padding-right: 5px;
        .form-control{
          padding-left: 5px;
        }
      }
      .non-padding-left{
        padding-left: 5px;
        .form-control{
          padding-left: 5px;
        }
      }
    }
    .btn-submit{
      background-color: #f32f0e;
      color: #ffffff;
      text-transform: uppercase;
      border: 2px solid #fa4f32;
    }
  }
}

.new-other{
  margin-top: 30px;
  margin-bottom: 40px;
  .header{
    margin-bottom: 20px;
    h4{
      color: #288c8b;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      display: inline-block;
      background-color: #fff;
      padding: 5px 10px 5px 0;
    }
    .line{
      width: 100%;
      height: 3px;
      background-color: #cbcbcb;
      margin-top: -11px;
    }
  }
  .content{
    ul{
      padding-left: 18px;
      list-style: square;
      li{
        margin-bottom: 10px;
        a{
          color: #333;
        }
      }
    }
  }
}

.common-ul{
  padding-left: 18px;
  li{
    margin-bottom: 10px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

.box-title-common{
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin-top: 0;
}

.list-special-service{
  li{
    margin-bottom: 10px;
  }
}

.box-info{
  border-bottom: 1px dotted #cccccc;
  margin-bottom: 20px;
  .nav-info{
    margin-bottom: 15px;
    li{
      margin-bottom: 10px;
      .pull-left{
        color: #167473;
        text-transform: uppercase;
      }
    }
  }
  .title{
    color: #157373;
    font-size: 14px;
  }
}

.btn-suBookRoom{
  background-color: #2da5a4;
  color: #ffffff;
  text-transform: uppercase;
  border-color: #2da5a4;
}

//Custom slider room detail
#slider-detail{
  border: none;
  margin-bottom: 0;
}

#carousel-detail{
  margin-bottom: 20px;
  border-color: #eaeaea;
  border-width: 5px;
  background-color: #eaeaea;
  .flex-active-slide{
    img{
      border-color: #f32f0e !important;
    }
  }
  .slides{
    li{
      img{
        border: 1px solid transparent;
      }
    }
  }
  .flex-direction-nav{
    a{
      width: 23px;
      height: 23px;
      top: 61%;
    }
    .flex-next,.flex-prev{
      &:before{
        display: none;
      }
    }
  }
}

.wrap-thumb-detail{
  background-color: #eaeaea;
}